* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/10/14/16/floral-1814372_960_720.jpg);
}

h1 {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  font-size: 60px;
  font-style: italic;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 1px rgba(255, 127, 191);
  color: rgb(103, 125, 224);
  margin-bottom: 20px;
}

.name {
  margin: 0 auto 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 127, 191, 0.598);
  word-spacing: 10px;
  font-size: 40px;
  text-align: center;
  color: rgb(103, 125, 224);
}
.congratulations {
  margin: 0 auto;
  overflow: hidden;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 127, 191, 0.598);
  color: rgb(103, 125, 224);
  margin-bottom: 60px;
  cursor: pointer;
}
.mark {
  font-size: 40px;
}
.name:active {
  width: 500px;
  color: rgb(185, 23, 123);
  background-color: rgba(255, 182, 193, 0.365);
}
.congratulations:hover {
  box-shadow: 5px 5px 5px 5px rgb(103, 125, 224);
}
.footer {
  text-align: center;
  color: rgb(185, 23, 123);
}
